@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

@media (min-width: 1440px) { 
    .nav-primary {
        padding: 8px 80px;
    }
    .center-section{
        padding: 8px 80px;
    }
    .contentGrid{
        padding: 8px 80px;
    }
    .landingPopup p {
        font-size: 18px;
    }
    
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Jp', sans-serif;
}

.nav-primary{
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    padding: 8px 40px;
    align-items: center;
    justify-content: space-between;
    font-size: 90%;

}

.landingPopup {
    background-color: #F7F7F7;
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8;
}

.landingPopup p {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer; 
    width: 40%;
    margin: auto;
    font-weight: 500;
}
.nav-logo {
    display: inline-block;
    width: 21%;
    padding: 0;
}
.nav-logo img {
    width: 125px;
    padding: 0;
}

.nav-middle {
    list-style: none;
    border-radius: 50px;
    border: 1px solid #E8E8E8;
    height: fit-content;
    padding: 3px 7px;
    box-shadow: 1px 2px 6px 0px #E8E8E8;
    cursor: pointer;
}

.nav-middle:hover {
    box-shadow: 0px 4px 5px 0px #E8E8E8;
    transition: 0.3s;
}

.nav-middle li {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 12px;
    border-right: 2px solid #E8E8E8;
    font-weight: 500;
}

.nav-middle .nav-last {
    border-right: none;
    font-weight: 400;
    color: #717171;
}
.nav-middle .nav-search{

    padding: 5px 5px 5px 1px;
    border-right: none;
}
.nav-search img {
    background-color: #FF385C;
    color: #fff;
    width: 13px;
    padding: 7px;
    border-radius: 50px;
}

.nav-secondary {
    justify-content: space-around;
    display: inline-block;
}

.nav-home {
    display: inline-block; 
    font-weight: 500;
  
}


.nav-secondary img {
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

.nav-menu {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    border: 1.5px solid #E8E8E8;
    height: fit-content;
    padding: 3px 7px;
    cursor: pointer;
}
.nav-menu:hover {
    box-shadow: 0px 4px 5px 0px #E8E8E8;
    transition: 0.3s;
}

.nav-secondary .nav-menu .menuIcon {
    width: 17px;
    padding: 6px 6px;
}

.nav-secondary .nav-menu .userIcon {
    width: 30px;
    padding: 6px 6px;
}

.center-section {
    padding: 8px 40px;
    margin-top: 15px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px solid #E8E8E8;*/
    
}

.center-primary {
    width: 70%;
    display: inline-block;
    overflow-x: hidden;
    position: relative;
    vertical-align: middle;
}
.center-section ul {
    
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.center-section ul li{
    cursor: pointer;
    opacity: 0.6;

}

.center-section ul li:hover{
    opacity:1;
}

.icons-center img {
    width: 24px;
    display: block;
    margin: auto;
}


.icons-center p {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
    

}

.center-section ul li:hover p{
    border-bottom: 3px solid;
    padding-bottom: 7px;
}

.filter-bar{
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    border: 1.5px solid #E8E8E8;
    height: fit-content;
    padding: 2px 14px;
    cursor: pointer;


}
.filter-bar img{
    display: inline-block;
    padding: 13px 6px;
    width: 17px;
    height: auto;
    vertical-align: middle;
}
.filter-bar p {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 13px;
}